# Python virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# All CSV/data files
*.csv
*.CSV

# Dataset / data archives
*.zip

# Python cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

*.parquet